# Git
.git
.gitignore

# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# dbt generated
dbt/target/
dbt/logs/
dbt/dbt_packages/

# Environment
.env

# Python cache
.pytest_cache/
.mypy_cache/